src/main/resources/wsdl/employees.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://brijeshpant.com/soap/gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://brijeshpant.com/soap/gen" targetNamespace="http://brijeshpant.com/soap/gen">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://brijeshpant.com/soap/gen">
            <xs:element name="getEmployeeRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEmployeeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="employee" type="tns:employee"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createEmployeeRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="employee" type="tns:employee"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createEmployeeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="employee" type="tns:employee"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="employee">
                <xs:sequence>
                    <xs:element minOccurs="0" name="empId" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="address" type="xs:string"/>
                    <xs:element name="email" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createEmployeeRequest">
        <wsdl:part element="tns:createEmployeeRequest" name="createEmployeeRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createEmployeeResponse">
        <wsdl:part element="tns:createEmployeeResponse" name="createEmployeeResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEmployeeRequest">
        <wsdl:part element="tns:getEmployeeRequest" name="getEmployeeRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEmployeeResponse">
        <wsdl:part element="tns:getEmployeeResponse" name="getEmployeeResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="port">
        <wsdl:operation name="createEmployee">
            <wsdl:input message="tns:createEmployeeRequest" name="createEmployeeRequest"> </wsdl:input>
            <wsdl:output message="tns:createEmployeeResponse" name="createEmployeeResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmployee">
            <wsdl:input message="tns:getEmployeeRequest" name="getEmployeeRequest"> </wsdl:input>
            <wsdl:output message="tns:getEmployeeResponse" name="getEmployeeResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="portSoap11" type="tns:port">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createEmployee">
            <soap:operation soapAction=""/>
            <wsdl:input name="createEmployeeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createEmployeeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmployee">
            <soap:operation soapAction=""/>
            <wsdl:input name="getEmployeeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getEmployeeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="portService">
        <wsdl:port binding="tns:portSoap11" name="portSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>